/* You can add global styles to this file, and also import other style files*/
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.550)) ,url('https://th.bing.com/th/id/OIP.r1kaXg0bFs38VmpD_7P4ygHaE7?w=262&h=180&c=7&r=0&o=5&pid=1.7');
    background-size: cover;
    background-color: black;
 }